<!-- <a [routerLink]="['/signout']">Sign Out</a>
<span>Welcome, {{ (user | async).email }}</span> -->
<!-- <i class="fa fa-camera-retro"></i> fa-camera-retro -->
<nav class="navbar headerNav navbar-expand">
    <!-- <a class="navbar-brand" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">mdNote</a> -->

    <div class="collapse navbar-collapse" id="headerNav">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">
            mdNote
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active toolbar-link" (click)="onBackClicked($event)">
            <i class="fa fa-chevron-left"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link toolbar-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/notes']">
            <i class="fa fa-book"></i>

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link toolbar-link" [routerLinkActive]="['active']" [routerLink]="['/notes', 'new']">
            <i class="fa fa-plus"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link toolbar-link" (click)="onReloadClicked($event)">
            <i class="fa fa-refresh"></i>
          </a>
        </li>
      </ul>
      </div>

      <!-- <div class="navbar-nav mr-auto title-nav"> -->
        <div class="title-nav-abs">
          <span class="navbar-text active-text">
            {{ title | appTruncateEllipsis:40 }}
          </span>
        </div>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">
            mdNote
          </a>
        </li> -->
        <!-- <span class="navbar-text active-text">
          {{ title }}
        </span>
      </div> -->

      <div class="collapse navbar-collapse" id="headerNavTwo">
      <ul class="navbar-nav ml-auto">

        <li ngbDropdown placement="bottom-right" class="d-inline-block nav-item">
          <a class="nav-link toolbar-link active" id="userMenuDropdown" ngbDropdownToggle>
            <i class="fa fa-user"></i>
            <!-- <span class="header-email">{{ (user | async).email }}</span> -->
          </a>
          <div ngbDropdownMenu aria-labelledby="userMenuDropdown">
            <button class="dropdown-item nav-dropdown-item" [routerLink]="['/']">{{ user.email }}</button>
            <button class="dropdown-item nav-dropdown-item" [routerLink]="['/']">Settings</button>
            <div class="divider dropdown-divider"></div>
            <button class="dropdown-item nav-dropdown-item" [routerLink]="['/signout']">Sign Out</button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
