@import '../../../../theme.scss';


.headerNav {
  padding: 0;
  background: $primaryColor;
  z-index: 3;
  @include box_shadow(2)
}

.dropdown-item {
  cursor: pointer;
}

.nav-link {
  cursor: pointer;

}

.navbar-nav .toolbar-link {
  color: $contrastColor;
}

.navbar-nav .toolbar-link:hover {
  color: lighten($primaryColor, 25%);
}
.active-text {
  color: $contrastColor;
}

.title-nav {
  margin-left: 50px;
}

.title-nav-abs {
  position: absolute;
  width: 50%;
  left: 25%;
  text-align: center;
  margin:0 auto;
  -webkit-app-region: drag;
  // -webkit-user-select: none;
  cursor: default;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: $hoverBackgroundColorLight
}
