.headerNav {
  padding: 0;
}

.dropdown-item {
  cursor: pointer;
}

.nav-link {
  cursor: pointer;

}

.navbar-nav .toolbar-link {
  color: #fff;
}
.active-text {
  color: #fff
}

.title-nav {
  margin-left: 50px;
}

.title-nav-abs {
  position: absolute;
  width: 50%;
  left: 25%;
  text-align: center;
  margin:0 auto;
}
