<div class="auth row align-items-center justify-content-center">
  <div class="card text-center form-card">
    <div class="card-body">
      <h4 class="card-title">{{ (url | async) === "/signin" ? "Sign In" : "Sign Up" }}</h4>
      <div class="card-text">

        <app-auth-form [mode]="url | async" [formLoading]="formLoading | async" (submitted)="formSubmitted($event)"></app-auth-form>
      </div>
    </div>
  </div>

  <div class="card text-center link-card" *ngIf="(url | async) === '/signin'">
    <!-- <button type="button" class="btn btn-secondary" (click)="forgotPassword" *ngIf="mode === '/signin'">Forgot Password</button> -->
    Need an account? <a [routerLink]="['/signup']">Click here to sign up.</a>
  </div>

  <div class="card text-center link-card" *ngIf="(url | async) === '/signup'">
    Already signed up? <a [routerLink]="['/signin']">Click here to sign in.</a>
  </div>
</div>
