


$backgroundColor: rgb(255, 255, 255);
$primaryColor: rgb(111, 75, 196);
$secondaryColor: rgb(255, 175, 55);
$subColor: rgb(119, 119, 119);
$baseTextColor: rgb(15, 15, 15);
$contrastColor: rgb(255, 255, 255);



// $backgroundColor: rgb(255, 255, 255);
// $primaryColor: rgb(224, 118, 18);
// $secondaryColor: rgb(114, 64, 180);
// $subColor: rgb(104, 89, 89);
// $baseTextColor: rgb(15, 15, 15);
// $contrastColor: rgb(255, 255, 255);


$hoverBackgroundColorLight: rgba($primaryColor, 0.1);
$hoverBackgroundColorDark: rgba($primaryColor, 0.8);
// $hoverBackgroundColorSecondaryLight: adjust-color($secondaryColor, $lightness: 40%, $saturation: -20%);
$hoverBackgroundColorSecondaryLight: rgba($secondaryColor, 0.1);


@mixin box_shadow ($level) {

  @if $level == 1 {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

}
